@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: open sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans' sans-serif;
    font-size: 16px;
}

/* logo */
.logo{
    width: 5em;
    height: 5em;
    content: icon;
    margin-left: 1.25em;
}

.buscador{
    margin-left: auto;
    margin-right: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em;
    height: 5em;
    width: 80em;
    background-color: #ffc0cb;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: #242424;
    box-shadow: 0 0.12em 0.31em grey;
}
ul{
    list-style-type: none;
}

li{
    float: left;
}

li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(224, 66, 93);
}

/* carrusel */

.slider {
    width: 100%;
    max-width: 75em;
    overflow: hidden;
    margin: 0 auto;
    padding-left: 2.5em;

}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(12.5em * 16);
    margin-top: 5%;
    padding: 3.5em;
}

.slider .slide {
    width: 12.5em;
}

.slider .slide img {
    width: 100%;
    height: 10em;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5));
    }
}
/* Practicas y Tratamientos */
.foto-presentacion {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    margin-right: 3.12em;
    background-position: center;
    margin: auto;
    object-fit: cover;
}

h1 {
    font-size: 2.25em;
    text-align: center;
    margin-top: 6.25em;
    margin-bottom: 6.25em;
}

h2 {
    font-size: 2.25em;
    text-align: center;
    margin-top: 6.25em;
    margin-bottom: 6.25em;
}

main{
    width: 100%;
    max-width: 75em;
}

.container-practicas{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3.5em;
}

.practicas{
    width: 80%;
    margin: 1.25em;
    padding: 1.25em;
    text-align: center;
    display: flex;
}

.practicas p{
    margin-top: 1.25em;
    height: 14.37em;
}

.boton-mas-info{
    margin-top: 1.25em;
    font-size: 1.25em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.62em;
    text-decoration: none;
    background-color: rgb(224, 66, 93);
    width: 100%;
    border-radius: 0.43em;
}

/* Falsa publicidad */
.falso {
    color: white;
    background-color: black;
    margin-top: 3.12em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5.62em;
}


/* Encuesta y boton formulario */

.formulario {
    width: 50%;
    border: 0.12em solid #ccc;
    margin: 4.37em;
    padding: 6.25em;
    margin-left: 20.62em;

}

label{
    font-size: 0.75em;
    display: block;
    width: 100%;
}

.inputs, textarea{
    margin-bottom: 1.25em;
    width: 100%;
    padding: 0.62em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.06em solid #0a1a2a;
}

.inputs:focus, textarea:focus{
    border: 0.06em solid #1668C4;

}

.inputs[type="submit"] {
    margin-bottom: 0;
    background: #1668C4;
    color: #fff;
    border: none;
    margin-bottom: 1.25em;
    
}

.inputs[type="submit"]:hover {
    background: #4a88f4;
    cursor: pointer;
}

/* pie de pagina- footer */
.pie-pagina{
width: 100%;
background-color: rgb(253, 151, 253);
}
.pie-pagina .grupo-1 {
width: 100%;
max-width: 75em;
margin: auto;
display: flex;
grid-template-columns: repeat(3, 1fr);
grid-gap: 4.37em;
padding-bottom: 3.12em;
justify-content: space-between;
}
.pie-pagina .grupo-1 .box figure{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
width: 11.87em;
height: 12.5em;
margin-top: 2.5em;
border-radius: 0.25em;

}
.pie-pagina .grupo-1 .box h2{
color: #fff;
margin-bottom: 1.56em;
font-size: 1.25em;
margin-top: 3.12em;
text-align: start;
}
.pie-pagina .grupo-1 .box p{
color: black;
margin-bottom: 0.62em;

}
.pie-pagina .grupo-1 .red-social a{
display: inline-block;
text-decoration: none;
width: 1.25em;
height: 1.25em;
line-height: 1.25em;
color: #fff;
margin-right: 0.62em;
background-color: #0d2033;
text-align: center;
}

.pie-pagina .grupo-2{
background-color: rgb(246, 54, 246);
padding: 0.93em 0.62em;
text-align: center;
color: #fff;

}
.pie-pagina .grupo-1 .red-social img{
    width: 1.25em;
    height: 1.25em;
}

.pie-pagina .grupo-2 small{
    font-size: 0.93em;
}

/* Tratamientos faciales */
.faciales{
    width: 100%;
    height: 100%;
    margin-bottom: 1.25em;
}
.tamano{
    height: 15.62em;
    width: 15.62em;
}

h3{
    color: red;
    text-align: center;
    font-size: 1.25em;
    margin: 0.62em 0;

}

.tratamientos {
    margin: 0 1em;
    width: 15.62em;
}

.tratamientos h3{
    height: 3.75em;
}

.pre-footer {
    color: white;
    font-size: 1.12em;

}

.pie-pagina .grupo-1 .box{
    width: 18.75em;


}

.tarjeta {
    display: flex;
}
.tarjeta-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em;
}

section{
    margin: 1.25em;
}

.maps iframe {
    width: 100%;
}

.contactanos{
    margin-top: 5.62em;
}

.nosotras{
    margin-top: 5.62em;
    object-fit: cover;
}

.ul{
    list-style-type: circle;
    
}

.informacion{
    list-style-type: circle;
    
}

img {
    max-width: 100%;
    height: auto;
}

